{% extends "blog/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="col-sm-12 col-md-6 mx-auto text-center">
        <h3 class="white-important">{{  tag_line }}</h3>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary shadow" type="submit">Publish</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}