{% extends "blog/layout.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mx-0">
        <div class="col-sm-12 col-md-4 text-center">
            <div class="profile-section shadow">
                <div class="media content-section w-100" style="height: 140px;">
                    {%  if user_profile != None %}
                    <div class="mt-2 d-flex full-width align-items-center">
                        <img class="rounded-circle mr-3 img-fluid" width="100px" height="100px"
                            src="{{ user_profile.profile.image.url }}">
                        <div>
                            <h4 class="text-white text-left">{{ user_profile.username }}</h4>
                            <h6 class="email-profile text-left">{{ user.email }}</h6>
                        </div>
                    </div>
                    {%  else %}
                    <div class="mt-2 d-flex full-width align-items-center">
                        <img class="rounded-circle mr-3 img-fluid" width="100px" height="100px"
                            src="{{ user.profile.image.url }}">
                        <div>
                            <h4 class="text-white text-left">{{ user.username }}</h4>
                            <h6 class="email-profile text-left">{{ user.email }}</h6>
                        </div>
                    </div>
                    {%  endif %}
                </div>
                <div class="media content-section">
                    <div class="row full-width mx-auto">
                        <div class="col-6">Followers</div>
                        <div class="col-6">Following</div>
                        {%  if user_profile != None %}
                        <div class="col-6">
                            <h3 class="text-white follow-click">
                                <a href="{% url 'user-followers' user_profile.username %}">
                                    {{ user_profile.profile.followers }}
                                </a></h3>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'user-follows' user_profile.username %}">
                                <h3 class="text-white follow-click">
                                    {{ user_profile.profile.following }}
                                </h3>
                            </a>
                        </div>
                        {% else %}
                        <div class="col-6">
                            <a href="{% url 'user-followers' user.username %}">
                                <h3 class="text-white follow-click">
                                    {{ user.profile.followers }}
                                </h3>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'user-follows' user.username %}">
                                <h3 class="text-white follow-click">
                                    {{ user.profile.following }}
                                </h3>
                            </a>
                        </div>
                        {%  endif %}
                    </div>
                </div>

                <div class="container d-flex justify-content-center">
                    {% if user_profile is None %}
                    <div class="mx-auto">
                        <a class="btn btn-sm btn-outline-secondary mb-3 shadow" href="{% url 'post-create' %}">New Post</a>
                    </div>
                    {% endif %}
                    {%  if user_profile is not None and user_profile.id != user.id  and user.username != '' %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <button class="btn btn-sm btn-outline-secondary shadow"
                                name="{% if can_follow %}follow{% else %}unfollow{% endif %}" type="submit">
                                {% if can_follow %}
                                FOLLOW
                                {% else %}
                                UNFOLLOW
                                {% endif %}
                            </button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 scrollable px-4 mt-3">
            <div class="row ">
                <div class="col-6">
                    <h3 class="mb-3">Posts</h3>
                </div>
                <div class="col-6 no-padding">
                    <h6 style="position: absolute; bottom: 0; right: 0" class="mb-3">
                        {{ page_obj.start_index }} - {{ page_obj.end_index }} of
                        {{ paginator.count }}
                    </h6>
                </div>
            </div>
            {% for post in posts %}
            <article class="media content-section hovered-tweet shadow">
                <div style="width: 100%; word-break: break-all;">
                    <div class="pb-2 row m-0" style="width: 100%; margin-right: 0 !important;">
                        <div class="col-8 no-padding d-flex pl-0 align-items-center">
                            <img class="rounded-circle mr-2" width="20px" height="20px"
                                src="{{ post.author.profile.image.url }}">
                            <a class="mr-2 text-ocean font-weight-bold" href="{% url 'user-posts' post.author %}">
                                {{ post.author }}
                            </a>
                        </div>
                        <div class="col-4 d-flex flex-row-reverse no-padding align-items-center">
                            {% if post.author == user %}
                            <a class="material-icons ml-3" style="font-size: 14px"
                                href="{% url 'post-delete' post.id %}">delete</a>
                            <a class="material-icons ml-3" style="font-size: 14px"
                                href="{% url 'post-update' post.id %}">edit</a>
                            {%  endif %}
                        </div>
                    </div>
                    <div class="mb-2" style="width: 100%; height: 1px;">
                    </div>
                    <a href="{% url 'post-detail' post.id %}">
                        <p class="mb-4 text-ocean p-2">{{ post.content }}</p>
                    </a>
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-baseline justify-content-start">
                            <small>
                                <!-- Like Buttons Here -->
                                <a href="#" onClick="document.getElementById('likebutton').submit()">
                                    {% if post.likes == 1  %}
                                    <i style="color: purple; font-size: 15px; vertical-align: middle;" class="material-icons pr-1">favorite</i>
                                    {% else %}
                                    <i style=" font-size: 15px; vertical-align: middle;" class="material-icons pr-1">favorite_border</i>
                                    {% endif %}
                                    {{ post.likes }} like(s)
                                </a>
                                <form id="likebutton" method="POST" action="{% url 'postpreference' post.id 1%}">
                                    {% csrf_token %}
                                    <input type="hidden">
                                </form>
                            </small>
                            <small>
                                <a href="/post/{{post.id}}/">
                                    <i style="font-size: 14px; vertical-align: middle;" class="material-icons pr-1 ml-3">insert_comment</i> {{ post.number_of_comments }}
                                    comment(s)
                                </a>
                            </small>
                        </div>
                        <div class="col-md-6">
                            <small style="opacity: 0.4;" class="white-important d-flex full-width flex-row-reverse">
                                {{ post.date_posted | date:"H:i l, d.m.y" }}
                            </small>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}

            <div class="full-width d-flex justify-content-center">
                {% if is_paginated %}
                {% if page_obj.has_previous %}
                <a class="btn btn-pag mb-4 mr-2" href="?page=1">First</a>
                <a class="btn btn-pag mb-4 mr-2"
                    href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn btn-pag mb-4 mr-2" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-pag mb-4 mr-2" href="?page={{ num }}">{{ num }}</a>
                {% endif %} 
                {% endfor %}

                {% if page_obj.has_next %}
                <a class="btn btn-pag mb-4 mr-2"
                    href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-pag mb-4 mr-2"
                    href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}